<html>
<body>
    <form action="/edit" method="post">
        <input type="text" placeholder="Recipe Name" name="recipeName" value="{{recipeName}}"/>
        <input type="text" placeholder="Ingredients" name="ingredients" value="{{ingredients}}"/>
        <input type="text" placeholder="Preparation" name="prep" value="{{prep}}"/>
        <input type="text" placeholder="Preparation Time (Minutes)" name="prepTime" value="{{prepTime}}"/>
        <input type="hidden" name="recipeId" value="{{recipeId}}"/>
        <button type="submit">Submit Recipe</button>
    </form>
</body>
</html>