<html>
<body>
Welcome to Recipe Tracker
<br/>
Login:
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="loginName"/>
    <button type="submit">Login</button>
    <br/>
    <input type="password" placeholder="Password" name="password"/>
</form>
New to Recipe Tracker?
<form action="/createAccount" method="post">
    <input type="text" placeholder="New Username" name="newUser"/>
    <button type="submit">Create Account</button>
    <br/>
    <input type="password" placeholder="New Password" name="newPassword"/>
</form>
Latest contributions:<br/>
<ol>
    {{#recipes}}
    <li>"{{recipeName}}"</li>
    {{/recipes}}
</ol>
</body>
</html>